---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman
AccessModifierOffset: -4
NamespaceIndentation: None

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

Cpp11BracedListStyle: true
DerivePointerAlignment: false
PointerAlignment: Left

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<ponder/'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '^"'
    Priority: 3
SortIncludes: CaseSensitive

ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
BreakAfterReturnType: None
BreakTemplateDeclarations: Yes
PenaltyReturnTypeOnItsOwnLine: 1000000
SpaceAfterCStyleCast: false
SpaceBeforeCpp11BracedList: false
SpacesInAngles: Never
